<ion-content>
  <div>
  <ion-buttons slot="start" (click)="dismiss()">
      <div class="dismiss">X</div>
    </ion-buttons>
  </div>
  <div class="nomeDoAluno">Kassia Miranda</div>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col class="bgMes">Mês</ion-col>
      <ion-col class="bgValor">Valor</ion-col>
      <ion-col class="bgPagamento">Pagamento</ion-col>
    </ion-row>
    <ion-row *ngFor="let i of listaDePagamentos">
      <ion-col (click)="editMensalidade(i)"><ion-icon name="ellipsis-vertical-outline"></ion-icon>{{i.mensalidade.mesRef}}</ion-col>
      <ion-col>{{i.mensalidade.valor}}</ion-col>
      <ion-col>{{i.mensalidade.data}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
