<ion-content>
  <div>
  <ion-buttons slot="start" (click)="dismiss()">
      <div class="dismiss">X</div>
    </ion-buttons>
  </div>
  <div class="nomeDoAluno">Kassia Miranda</div>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col class="bgMes">Mês</ion-col>
      <ion-col class="bgValor">Valor</ion-col>
      <ion-col class="bgPagamento">Pagamento</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Junho</ion-col>
      <ion-col>50,00</ion-col>
      <ion-col>05/06/2020</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Julho</ion-col>
      <ion-col>50,00</ion-col>
      <ion-col>05/07/2020</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Agosto</ion-col>
      <ion-col>50,00</ion-col>
      <ion-col>05/08/2020</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Setembro</ion-col>
      <ion-col>50,00</ion-col>
      <ion-col>05/09/2020</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
