ion-content {
    --background: linear-gradient(to left, rgba(237, 243, 237, 0.68), rgba(237, 243, 237, 0.68)), url('/assets/header-fitness.jpg') no-repeat center center / cover;
  }
.dismiss{
    margin-left: 69%;
    margin-top: 6px;
    font-size: 25px;
}