<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img class="iconImg" src="assets/icon/fitness.png">
      <ion-label>Avaliação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img class="iconImg" src="assets/icon/bank.png">
      <ion-label>Mensalidades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img class="iconImg" src="assets/icon/calculator.png">
      <ion-label>Financeiro</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
