<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mensalidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
        <ion-item-sliding *ngFor="let aluno of listaDeAlunos">
          <ion-item (click)="openHistoricoDePagamentos(aluno.key)">
              <ion-avatar slot="start">
                <img alt="" src="assets/aluno5.jpg">
                <!--<img _ngcontent-ngg-c4="" alt="" src="{{aluno.img}}">-->
              </ion-avatar>
              <ion-label>
                <h2>{{aluno.nome}}</h2>
                <!--<h3>5 meses</h3>-->
                
              </ion-label>
            </ion-item>
          <ion-item-options>
            <button ion-button class="bgMensalidade" icon-start (click)="openPagamentoModal(aluno.key, aluno.nome)">
              <ion-icon name="cash-outline"></ion-icon>
              PAGAR
            </button>
          </ion-item-options>
        </ion-item-sliding>

        <!--mock-->
        <ion-item-sliding>
          <ion-item (click)="presentModalAluno(aluno.key, aluno.img, aluno.nome)">
              <ion-avatar slot="start">
                <img alt="" src="assets/aluno5.jpg">
                <!--<img _ngcontent-ngg-c4="" alt="" src="{{aluno.img}}">-->
              </ion-avatar>
              <ion-label>
                <h2>Rodrigo Lima</h2>
                <!--<h3>5 meses</h3>-->
                <p>Ganhar massa muscular</p>
              </ion-label>
            </ion-item>
          <ion-item-options>
            <button ion-button color="primary" icon-start (click)="openAvaliacao(aluno.key)">
              <ion-icon name="create"></ion-icon>
              avaliação
            </button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item (click)="presentModalAluno(aluno.key, aluno.img, aluno.nome)">
              <ion-avatar slot="start">
                <img alt="" src="assets/aluno5.jpg">
                <!--<img _ngcontent-ngg-c4="" alt="" src="{{aluno.img}}">-->
              </ion-avatar>
              <ion-label>
                <h2>Maria Juana</h2>
                <!--<h3>5 meses</h3>-->
                <p>Perder peso</p>
              </ion-label>
            </ion-item>
          <ion-item-options>
            <button ion-button color="primary" icon-start (click)="openAvaliacao(aluno.key)">
              <ion-icon name="create"></ion-icon>
              avaliação
            </button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item >
              <ion-avatar slot="start">
                <img alt="" src="assets/aluno5.jpg">
                <!--<img _ngcontent-ngg-c4="" alt="" src="{{aluno.img}}">-->
              </ion-avatar>
              <ion-label>
                <h2>Jonh Do</h2>
                <!--<h3>5 meses</h3>-->
                <p>Manter boa forma</p>
              </ion-label>
            </ion-item>
          <ion-item-options>
            <button ion-button color="primary" icon-start (click)="openAvaliacao(aluno.key)">
              <ion-icon name="create"></ion-icon>
              avaliação
            </button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
          <ion-item >
              <ion-avatar slot="start">
                <img alt="" src="assets/aluno5.jpg">
                <!--<img _ngcontent-ngg-c4="" alt="" src="{{aluno.img}}">-->
              </ion-avatar>
              <ion-label>
                <h2>Jon Stark</h2>
                <!--<h3>5 meses</h3>-->
                <p>Ganhar massa muscular</p>
              </ion-label>
            </ion-item>
          <ion-item-options>
            <button ion-button color="primary" icon-start (click)="openAvaliacao(aluno.key)">
              <ion-icon name="create"></ion-icon>
              avaliação
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>   
</ion-content>
