ion-toolbar {
    --background: url('../../assets/mensalidade.jpg') no-repeat center center/cover;
    -webkit-background-size: cover;
    color: white;
    font-family: fantasy;  
    
  }

  ion-title {
    text-align: center;
    color: darkblue;
  }
  
  ion-content {
    --background: linear-gradient(to left, rgba(237, 243, 237, 0.68), rgba(237, 243, 237, 0.68)), url('/assets/header-fitness.jpg') no-repeat center center / cover;
  }

.bgMensalidade {
  background: green;
  color: white;
}