<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Financeiro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="example-button-row">
    <button class="btn-add-receita" mat-raised-button color="primary" (click)="openBalancoModal()">Registrar Balanço</button>
    <!--button class="btn-add-receita" mat-raised-button color="warn" (click)="presentAlertAddDespesas()">Registrar Despesa</!--button>-->
  </div>
  <h2 id="charts">Histórico do Balanço</h2>
  <ion-grid>
    <ion-row>
      <ion-col class="bgMes">Mês</ion-col>
      <ion-col class="bgPeitoral">Receita</ion-col>
      <ion-col class="bgSE">Despesas</ion-col>
      <ion-col class="bgMeio">Lucro</ion-col>
      
    </ion-row>
    <ion-row *ngFor="let item of balancoGeral">
      <ion-col class="bgMes" (click)="alertEditBalanco(item)"><ion-icon name="ellipsis-vertical-outline"></ion-icon>{{item.mes}}</ion-col>
      <ion-col>{{item.receita}}</ion-col>
      <ion-col>{{item.despesa}}</ion-col>
      <ion-col>R$ {{item.lucro}}</ion-col>
    </ion-row>
  </ion-grid>
 
  <h2 id="charts">Lucro x Despesas</h2>
  <ion-card>
    
    <div style="padding-top: 10px;">
      <canvas #barBalanco width="400" height="300"></canvas>
    </div>
  </ion-card>
</ion-content>
