ion-content{
    --background: transparent;
}

ion-label{
    font-size: 35px;
    margin-bottom: 39px;
}

ion-input{
    font-size: 50px;
}

ion-select {
    font-size: x-large;
    //overflow: initial;
    //margin-left: -18px;
}

ion-card {
    margin-top: 170px;
}