<ion-header>
  <ion-toolbar>
    <ion-title>Plano de treino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
    <div>
      <ion-chip >
        <ion-label color="dark">segunda</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-label>terça</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-label>quarta</ion-label>
      </ion-chip>

      <ion-chip >
        <ion-label color="dark">quinta</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-label>sexta</ion-label>
      </ion-chip>

    </div>

    <div class="membros-treinados">
      <ion-list lines="full">     
        <ion-item>
          <ion-label>Membros treinados</ion-label>
          <ion-select [interfaceOptions]="customAlertOptions" interface="alert" multiple="true" >
            <ion-select-option value="bacon">Ombros</ion-select-option>
            <ion-select-option value="olives">Tríceps</ion-select-option>
            <ion-select-option value="xcheese">Bíceps</ion-select-option>
            <ion-select-option value="peppers">Peitoral</ion-select-option>
            <ion-select-option value="mushrooms">Abdominal</ion-select-option>
            <ion-select-option value="onions">Costa</ion-select-option>
            <ion-select-option value="pepperoni">Panturrilha</ion-select-option>
            <ion-select-option value="pineapple">Coxa</ion-select-option>
            <ion-select-option value="sausage">Gluteo</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  
    <!-- Search Bar -->
    <ion-searchbar placeholder="Pesquisar exercício" [(ngModel)]="term" name="term" animated="true" (ionChange)="getItems($event)"></ion-searchbar>

    <!-- List Items -->
    <ion-list *ngIf="isItemAvailable">
      <ion-item *ngFor="let item of filterData | filter:term">
        <ion-label>{{item.exercicio}}</ion-label>
      </ion-item>
    </ion-list>


    <div class="serie-repeticao">
      <ion-item>
        <ion-label position="floating">Série</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repetição</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </div>
    
    <div class="btnSalvar"><ion-button expand="full">SALVAR</ion-button></div>

  </form>



  <ion-card>
      <ion-card-header class="card-header-segunda">
        <ion-card-title class="card-title">Segunda</ion-card-title>
        <ion-card-subtitle class="card-subtitle">Peito - Tríceps</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item href="#" class="ion-activated">
          <ion-icon name="wifi" slot="start"></ion-icon>
          <ion-label>
            <h2>Supino inclinado c/ barra</h2>
            <a>3X - 10 repet</a>
          </ion-label>
        </ion-item>

          <ion-item href="#">
            <ion-icon name="wine" slot="start"></ion-icon>
            <ion-label>Crucifixo reto</ion-label>
          </ion-item>

          <ion-item class="ion-activated">
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Voador</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Francês deitado c/ alteres</ion-label>
          </ion-item>

          <ion-item href="#">
            <ion-icon name="wine" slot="start"></ion-icon>
            <ion-label>Corda cross</ion-label>
          </ion-item>

          <ion-item class="ion-activated">
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Barra cross</ion-label>
          </ion-item>

          <ion-item class="ion-activated">
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Tríceps testa</ion-label>
          </ion-item>

          </ion-card-content>
        </ion-card>

</ion-content>
